/*------------------------------------*\
  $LAYOUT
\*------------------------------------*/


.container {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 $half-spacing-unit;
  }
}

.site-header {
  @extend %sass-margin-bottom;
  padding: $base-spacing-unit;
  font-style: italic;
  text-align: right;
}

.site-footer {
  @extend .landmark;
  font-style: italic;
  text-align: center;
}

