/*------------------------------------*\
  $BLOCKQUOTE
\*------------------------------------*/

blockquote {
  font-style: italic;
  color: lighten($base-color, 10%);

  p:before {
    color: $base-ui-color;
    content: "\275d" "\00A0";
    font-size: 3em;
    line-height: 0;
    vertical-align: -0.4em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  cite,
  .source {
    display: block;
    &:before {
      content:"\2014" "\00A0";
    }
  }
}
